/* TrafficCard.module.css */
.cardContainer {
  min-width: 243px;
  min-height: 200px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  background-color: #ffffff;
  padding: 1rem;
}

.cardContainer:hover {
  box-shadow: 0 0 5px 0 #3649534d;
}

.cardBody {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Title (e.g., "WEB IMPRESSIONS") */
.title {
  font-size: 12px;
  text-transform: uppercase;
  color: #2d3e4f;
  letter-spacing: 0.684px;
  font-weight: 400;
}

/* Main number (e.g., "253,942") */
.mainNumber {
  font-size: 2rem;
  font-weight: 700;
  margin: 0.5rem 0;
  color: #2b2b2b;
  text-align: center;
}

/* Container for the mini line chart */
.chartContainer {
  position: relative;
  width: 100%;
  height: 120px;
  margin-top: 0.5rem;
}


.loaderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
}

.spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #53682d;
  border-radius: 50%;
  width: 23px;
  height: 23px;
  animation: spin 0.7s linear infinite;
  margin-bottom: 8px;
}

.acquiringText {
  font-size: 14px;
  color: #5a6f7f;
  font-weight: 400;
  letter-spacing: 0.5px;
  margin: 0;
  padding: 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}